
{% extends 'base.html.twig' %}

{% block body %}

    <h1>Bienvenu dans la page d'inscription !</h1>

    {{ form_start(form) }}

    {{ form_row(form.username, {'label' : 'Nom d\'utilisateur : ', 'attr': {'placeholder': 'Veuillez entrer votre nom utilisateur'}}) }}
    {{ form_row(form.email, {'label' : 'E-mail : ', 'attr': {'placeholder': 'Veuillez entrer votre email'}}) }}
    {{ form_row(form.password, {'label' : 'Mot de passe : ', 'attr': {'placeholder': '*******'}}) }}
    {{ form_row(form.confirm_password, {'label' : 'Confirmer le mot de passe : ', 'attr': {'placeholder': '*******'}}) }}

    <button type="submit" class="btn btn-success">Inscription</button>

    {{ form_end(form) }}

{% endblock %}